@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
    font-size: 9em;
}


header > p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3em;
}

section.normal {
    background-color: white;
    text-align: justify;
}

section.imagem {
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: justify;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.185);
}

a {
   font-weight: bolder;
   text-decoration: none;
   color: white; 

}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}