@charset "UTF-8";

/*
em HTML é id    = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/
 
body {
    background-color: rgba(172, 255, 227, 0.952);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(12, 148, 12);
}

h1#principal {
    text-align: center;
    background-color: rgb(12, 148, 12);
    color: white;
}

h2 {
    color: rgb(16, 131, 16);

}

.basico {
    color: rgb(45, 157, 209);
    font-weight: bolder;
    background-color: white;
}

.intermediario {
    color: rgb(209, 206, 45);
    background-color: white;
}

.avançado {
    color: rgb(209, 45, 45);
    background-color: white;
}

.destaque {
    background-color: rgba(141, 85, 192, 0.61);
}